html[data-theme="light"] .left-sidebar-inner {
  --ls-main-content-max-width: 700px;
  --ls-primary-background-color: #1f2428;
  --ls-secondary-background-color: #24292e;
  --ls-tertiary-background-color: #282e34;
  --ls-quaternary-background-color: #292e33;
  --ls-table-tr-even-background-color: rgba(246, 246, 246, 0.065);
  --ls-active-primary-color: #8ec2c2;
  --ls-active-secondary-color: #eeffff;
  --ls-guideline-color: rgba(246, 246, 246, 0.2);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgba(190, 195, 200, 0.95);
  --ls-secondary-text-color: rgba(215, 215, 215, 0.7);
  --ls-link-text-color: #b2dbdb;
  --ls-link-text-hover-color: #fff;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-highlight-color: rgba(246, 246, 246, 0.1);
  --ls-selection-background-color: rgba(246, 246, 246, 0.1);
  --ls-page-inline-code-color: var(--ls-primary-text-color);
  --ls-page-inline-code-bg-color: rgba(246, 246, 246, 0.2);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
}

html[data-theme="light"] .cp__header a {
  color: #708080;
}

a.tag {
  font-size: 1em;
}

input.form-checkbox {
     opacity:1;
     border:1px solid rgba(167, 182, 194, 0.7);
     font-size:0px;
    border-radius:2px;  height:12px; width:12px;
}

input.form-checkbox.checked {
     opacity:1;
     background-color:rgb(19, 124, 189);
      filter: brightness(90%);
}
.done {
    color:rgb(0, 0, 0);
}
